body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: url('../assets/eth5.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    width: 750px;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.650);
    padding: 40px;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  
  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
  
  .table {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(124, 123, 123, 0.65);
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 25px;
  }
  
  th {
    font-size: 18px;
    color: #ffffff;
  }
  
  td {
    font-size: 16px;
    color: #ffffff;
    row-gap: 100%;
  }
  
  #voteButton {
    width: 40%;
    padding: 12px;
    background-color: #198a7b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #voteButton:hover {
    background-color: #44afa1;
  }
  
  #voteButton:focus {
    outline: none;
  }
  
  #voteButton:active {
    transform: translateY(2px);
  }
  
  #accountAddress {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  