body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: url('../assets/eth5.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    width: 450px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.650);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #000000;
    background-color: rgb(255, 255, 255); 
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #198a7b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #44afa1;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: translateY(2px);
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  button {
    width: 50%; 
    padding: 10px; 
    background-color: #198a7b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; 
  }
  
